bower_components
node_modules
package-lock.json
coverage
analysis.json
create-lit-element.js
create-lit-element.d.ts
create-lit-element.d.ts.map
create-lit-element.js.map
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map
/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
/test/**/*.d.ts.map
